@tailwind base;
@tailwind components;

.container {
  @apply max-w-4xl mx-auto px-2;
}

@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
@screen mobile {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
